<h1>Edit <%=@post.title%></h1>

<!--
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
  <p>  <%= error %> </p>
<%end%>
<%end%>
-->

<%= form_for @post do |f|%>
  
  <% if @post.errors.any? %>
  <div id ="error_explanation">
  <h2> <%= pluralize(@post.errors.count, "error") %> in this form</h2>
  <ul>
  <% @post.errors.full_messages.each do |message| %>
  <li> <%=message %> </li>
  <%end%>
  </div>
  <%end%>

    <%=f.label :title%>
    <%=f.text_field :title%><br>

    <%=f.label :content%>
    <%=f.text_area :content%><br>

    <%=f.label :blogger%>
    <%= f.collection_select :blogger_id, @bloggers, :id, :name  %><br>

    <%=f.label :destination%>
    <%= f.collection_select :destination_id, @destinations, :id, :name  %><br>

    <%=f.submit%>

<%end%>